<!-- <html>
    <head>
        <title>Welcome Page</title>
        <style>
            body{
                background-color: black;
                color: blue;
                font-size: 30px;
            }
        </style>
    </head>
    <body>
        <center><h1>Welcome :-)</h1></center>
    </body>

</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1{
        text-align: center;
    }
    .Payment{
        text-align: center;
    }
</style>

<body>

        <h1>User Dashboard</h1>
        <div class="Payment">
         <form action="/register" method="post"> 
            <label for="Payment">Payment</label>
            <input type="Payment" id="Payment" name="Payment" required><br><br>
    
            <label for="Real Time Balance">Real Time Balance</label>
            <input type="Real Time Balance" id="Real Time Balance" name="Real Time Balance" required><br><br>
    
            <label for="Conversion Rate">Conversion Rate</label>
            <input type="Conversion Rate" id="Conversion Rate" name="Conversion Rate" required><br><br>
            <input type="submit" value="Submit">

            
    
            
    
           
        </form>
    
    
        </div>


    
</body>
</html>